.logo
{
    color: wheat;
    background-color: #4e013f;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 35px;
    color: aquamarine;
    font-weight: 900px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}